/* Estilos generales */

body {
    margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', cursive;
    line-height: 1.2;
    color: #333;
    background-color: #000000;
    
  }

  /* Estilos del encabezado */

  .contenedor {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    text-align: center;
    max-width: 100vw;
    max-height: 100vw;
  }
  
  .header.sr1 {
    background-color: #f19a28;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    z-index: 999;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  
  .logo img {
    height: 110px;
    border-radius: 50%;
    width: 110px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  .logo img:hover {
    transform: translateX(10px);
  }
  
  nav {
    flex-grow: 1;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 30px;
    transition: background-color 0.3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
} 

  nav a:hover {
    background-color: #555;
  }
  
  .contacto {
    margin-right: 40px;
  }

  .contacto a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee0505;
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  
  .contacto a:hover {
    background-color: #0e0801e3;
  }

  .contenedorP{
    display: flex;
    align-content: space-around;
    flex-direction: column;
    text-align: center; 
       
  }

  .intro {
    position: relative;
    background-color: #f17427ee;
    width: 100vw;
    height: 50rem;
    padding-top: 170px;    
  }

  .titulo {
    position: relative;
    font-family: 'Henny Penny', cursive;
    font-size: 50px;
    
    
    
  }
  
  .subtitulo {
    position: relative;
    font-family: 'Henny Penny', cursive;
    font-size: 36px;
    top: -1em;
  }
  
  .contenido-intro {
    display: flex;
    flex-direction: column;
    margin-top: -3em;
    
    
    
  }

  .texto-1 {
    font-size: 20px;
    margin: 0 40px;
    
  }

  .imagenIntro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5em;
  gap: 50px;
    
    
  }

  .imagenIntro img {
    margin: 0 24px;
    max-width: 400px;
    width: 25%;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }
  
  .imagenIntro img:hover {
    transform: scale(1.1);
    
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  /* Juegos */

  .contenedorJuegosN{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 60rem;
    background-color: #d93a3adc;
    

  }

  .contenido-juegos1 p{
    font-size: 20px;
    font-style: italic;
    margin-top: 120px;
    
  }
  

  
  .titulo-juegos{
  font-size: 27px;
  font-family: 'Henny Penny', cursive;
  margin-top: 150px;
  margin-bottom: 40px;
  width: 100vw;
  }

  .subtituloJ1 {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 22px
  }

  .imagenesJ {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5em;
  gap: 50px;
  }

  .imagenes1 img {
    margin: 0 24px;
    max-width: 100%;
    width: 25%;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  

  .imagenes1 img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  }
  
  .contenedorJuegos2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
   
  }
  
  .contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 40rem;
    margin-bottom: -1px;
  }
  
  .contenido.izq {
    background-color: rgba(119, 240, 75, 0.596); 
    color: rgb(0, 0, 0); 
  }
  
  .contenido.der {
    background-color: #ffc800; 
    
    color: rgb(0, 0, 0); 
  }
  
  
  .contenido .texto {
    margin-left: 30px;
    flex-basis: 30%;
  }
  
  .imagenJ img {
    height: 400px;
    width: 600px;
    object-fit: cover;
    flex-basis: 50%;
    margin-top: 7em;
    margin-bottom: 7em;
    
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }
  .imagenJ img:hover {
    transform:translate(10px);
    -webkit-transform:translate(10px);
    -moz-transform:translate(10px);
    -ms-transform:translate(10px);
    -o-transform:translate(10px);
  }
  
  .contenido p {
    font-size: 20px;
    margin-right: 30px;
  }
  
  .subtituloJ2 {
    font-size: 27px;
    text-align: center;
    width: 100vw;

    padding-top: 4em;
    padding-bottom: 4em;
    font-family: 'Henny Penny';
    background-color: rgb(245, 138, 39);
    
    
  }
  .nombreJuego {
    font-size: 30px;
    font-family: 'Henny Penny';
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 30px;
    margin-left:10px; ;
  }
  
  /* Animadores */
  
  .contenedor-animadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffc800;
    width: 100vw;

  }
  .titulo-animadores{
    font-size: 27px;
    font-family: 'Henny Penny', cursive;
    width: 100vw;
    padding-top: 6em;
    background-color: rgb(213, 35, 35);

  }
  
  .imagenesA {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
  }
  
  .imagenesA img {
    margin: 0 24px;
    max-width: 100%;
    width: 70%;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  
  .imagenesA img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  .imagenesA p{
    max-width: 400px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 70px;
    
  }

  .imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subtituloA {
    margin-top: 60px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 22px
  }
  
  /* Acerca de Nosotros */
  
  .contenedor-nosotros {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f17427ee;
    padding-top: 52px;
    padding-bottom: 50px;
    
  }
  .subtituloAcerca{
    font-size: 32px;
    font-family: 'Henny Penny', cursive;
  }
  
  .textoAcerca {
    font-size: 22px;
    margin: 0 40px;  
  }
  .video{
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media (max-width: 1024px) {
    .contenedorP img{
      max-width: 400px;
      max-height: 180px;
      display: flex;
      flex-direction: column;
    }
    .contenedorP p{
      font-size: 70%;
    }

    .contenedor h1 h2 h3{
      font-size: 10px;

    }
    .header{
      font-size: 12px;
    }
    .header img{
      width: 140%;
      max-height: 100px;
    }
    .titulo {
      font-size: 30px;

    }
    .subtitulo{
      font-size: 18px;
      margin-bottom: 40px;
    }
    .intro{
      height: 34rem;
    }
    .contenedorJuegosN{
      height: 40rem;
    }
    .titulo-juegos{
      margin-top: 50px;
    }
    .imagenesJ {
      margin-bottom: 2px;
      
      }
  }
  